@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
html{
    font-family: 'Noto Sans TC', sans-serif;
    
}
h1{
    color: cyan; 
    text-align:center;
    background-color:darkblue;
    border:5px solid black;
    border-radius: 16px;
    font-size: 100px;
    font-family: 'Bangers', cursive;
}
section{
    background-color:chocolate;
    border:5px solid black;
    border-radius: 16px;
    padding:16px;
}
h2{
    text-decoration: underline;
}
nav ul{
    list-style-type: none;
    background-color: cyan;
    border: 4px solid: black;
    border-radius: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    padding: 16px;
}
nav ul li{
    display: inline;
    border-right: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
}
nav ul li:last-child{
    border-right: none;
}
nav ul li a{
    text-decoration: none;
    color: darkblue;
}
